.access-user-con {
  height: 200px;
}
.access-current-user-con {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 30px;
}
.access-current-user-con img {
  display: block;
  width: 96px;
  height: 68px;
  margin: 0px auto 10px;
}
.access-current-user-con p {
  display: block;
  padding: 20px 0 0;
}
.access-current-user-con p ss b {
  margin: 0 10px;
  color: #2d8cf0;
}
.access-change-access-con-row {
  height: 200px;
}
.modal {
  padding-left: 0 !important;
}
.radio {
  height: 40px;
  line-height: 40px;
  border-radius: 4px !important;
}
.radioYe {
  height: 36px;
  line-height: 36px;
  border-radius: 4px !important;
}
.radios {
  height: 40px;
  padding: 6px 15px;
}
.icon {
  width: 20px;
  height: 20px;
}
.btnGroup {
  display: flex;
  width: 360px;
  justify-content: space-between;
  margin-left: 22px;
}
.btnGroup span {
  padding-left: 10px;
}
.btnGroup button:hover {
  color: #2d8cf0;
}
.payBtn {
  padding: 10px 20px;
  border: 1px solid #dddee1;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
}
.way {
  display: flex;
  align-items: center;
}
